<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite">
    <listeners>
        <listener class-name="RahulShettyWebsite.TestComponents.Listeners"></listener>
    </listeners>
    <test name="Submit Order Test" >
        <classes>
            <class name="RahulShettyWebsite.PageTests.SubmitOrderTest"></class>
        </classes>
    </test>

    <test name="Error Validations Test">
        <classes>
            <class name="RahulShettyWebsite.PageTests.ErrorValidationsTest"></class>
        </classes>
    </test>
</suite>